@charset "ISO-8859-1";

	
#entete{
	background-color:#1c52a8;
	color : rgb(222, 247, 131	);
	margin:0;
padding:0  !important;
}	
#entete a {text-decoration :none !important;
color : rgb(222, 247, 131	);}

.titre {
	font-size: 1.6em;
}

.icones{
	text-align:right; 
	padding-top:1.8em !important;
}

.ui-menu {width:auto !important; }